@charset "UTF-8";
/* CSS Document */



#container
{
  width: 700px;
  margin: 0 auto;

}

body
{
  font-family: font-family: 'Source Serif 4', sans-serif;
}

h2
{
  font-weight: 300;
  font-size: 30px;
  color:black;
  margin-bottom: 20px;
}

p
{
  color:black;
  font-size:17px;
  line-height:28px;
  font-weight: 300;
}

.hidden {
  display: none;
}

.dropCap {
  font-size: 100px;
  font-weight: 400;
  line-height: 70px;
  float: left;
  margin: 5px 10px 0px 0px;
}
.floatImagLeft {
  float: left;
  margin-right: 20px;
  padding: 20;
}

figure,
{
  display: block;
  margin: 0;
  padding: 0;
}

.part2
{
  margin-top: 30px;
  margin-bottom: 20px;
}

.part2-2
{
  margin-top: 20px;
}